/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none; /* Убираем стандартный контур браузера */
    box-sizing: border-box; /* Упрощает работу с размерами элементов */
    appearance: none; /* Убираем стандартный стиль браузера для всех элементов !!! */
}

/* Переменные цвета */
:root {
    --background-color: #141517;
    --dark-color: #141517;
    --white-color: #dbdbdb;
    --head-color: #1d2933;
    --content-color: rgba(204, 204, 204, 0.6);
    --footer-color: #141517;

    --font-size-head: 16px;
    --font-size-content: 18px;
    --font-size-footer: 14px;
    --font-size-large: 1.8em;
    --font-size-medium: 1.5em;
    --font-size-small: 1.2em;
    --font-size-mini: 0.9em;

    --margin-large: 30px;
    --margin-medium: 25px;
    --margin-small: 20px;
    --margin-mini: 15px;

    --padding-large: 29px;
    --padding-medium: 26px;
    --padding-small: 20px;
    --padding-mini: 15px;

    --max-width-content: 1000px;
    --max-width-form: 800px;
    --max-width-image: 350px;
    --width: 100%;
}

/* Основные стили */
html, body {
    height: 100%;
    font-family: 'Helvetica Neue', 'DejaVu Sans Light', sans-serif; /* 'Avenir' */
    background: var(--background-color) url('../images/background_image.webp') no-repeat center top;
    background-size: cover; /* Изображение фона будет покрывать весь экран */
}

/* Контейнер страницы */
#page {
    display: flex; /* Используем flexbox для расположения изображения и текстового контейнера */
    flex-direction: column; /* Располагаем элементы в колонку */
    min-height: 100vh;
}

/* Центрирование меню */
.center-menu {
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Центрирование меню */
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 10px; /* Промежуток между ссылками */
}

/* Заголовок */
.head {
    padding: var(--padding-medium) 0;
    background: var(--head-color);
    font-size: var(--font-size-head);
}

/* Основной контент */
.content {
    flex: 1; /* Занимает оставшееся пространство */
    padding: var(--padding-small); /* Отступы для контента */
    overflow-y: auto; /* Прокрутка по вертикали */
    min-height: calc(100vh - 66px);
    background: var(--content-color);
}

/* Нижний колонтитул */
.footer {
    padding: var(--padding-large) 0;
    background: var(--footer-color);
    font-size: var(--font-size-footer);
}

.center-shell {
    display: flex; /* Включаем Flexbox */
    flex-direction: column;
    align-items: center;
}

.content-shell {
    max-width: var(--max-width-content); /* Максимальная ширина для контента */
    width: var(--width); /* Занимает всю доступную ширину */
}

.form-shell {
    max-width: var(--max-width-form); /* Максимальная ширина для формы */
    width: var(--width); /* Занимает всю доступную ширину */
}

/* Стили для изображения */
.image-text-wrapper {
    overflow: auto; /* Обеспечивает обтекание текста вокруг изображения */
    margin: var(--margin-large) 0; /* Отступы вокруг контейнера */
}
.image-container {
    max-width: var(--max-width-image); /* Ограничение ширины изображения */
    height: auto; /* Сохранение пропорций изображения */
    margin-right: var(--margin-large); /* Отступ между изображением и текстом */
    float: left; /* Позволяет тексту обтекать изображение */
}

/* Стили текста и кнопки */
.text-button-wrapper {
    flex-direction: column; /* Располагаем текст и кнопку вертикально */
    flex: 1; /* Текст займет оставшееся пространство */
}
.text-container {
    color: var(--dark-color);
    font-size: var(--font-size-content);
}
.button-wrapper {
    display: flex; /* Используем flexbox для кнопки */
    justify-content: flex-start; /* Выравнивание кнопки по левому краю */
    margin-top: var(--margin-medium);
}

/* Стили для заголовков */
.post {
    color: var(--dark-color);
    font-size: var(--font-size-large);
    margin: var(--margin-medium) 0;
}
.post-second {
    color: var(--dark-color);
    font-size: var(--font-size-medium);
    margin: var(--margin-medium) 0;
}
.post-third {
    color: var(--dark-color);
    font-size: var(--font-size-small);
    margin: var(--margin-medium) 0;
}

/* Стили для ссылок */
.link-white {
    color: var(--white-color);
    transition: background-color 0.3s, color 0.3s;
}
.link-white:hover {
    color: #bbbbbb;
}
.link-white:active {
    color: #a3a3a3;
}
.link-dark {
    color: var(--dark-color);
    padding-right: var(--padding-small);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer; /* Указатель при наведении */
}
.link-dark:hover {
    color: #353535;
}
.link-dark:active {
    color: #535353;
}

.author {
    color: var(--white-color);
}

/* Стили для кнопок */
.button {
    background: #275940;
    padding: 5px 9px 7px 8px;
    font-size: 20px;
    color: #dbdbdb;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.button:hover {
    background: #084c3a;
    color: #cccccc;
}
.button:active {
    background: #0c372c;
    color: #a3a3a3;
}

/* Стили для смены языка */
select {
    background: #1d2933;
    font-size: 16px;
    color: #dbdbdb;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
select:hover {
    background: #1d2933;
    color: #bbbbbb;
}

/* Стили для форм */
.label-form {
    display: flex; /* Используем flexbox для расположения контейнера форм */
    padding: 10px 0;
}
.error-form ul {
    list-style: none;
    margin-top: 25px; /* Отступ сверху для разделения от поля ввода */
    color: #a63127;
}
.captcha {
    margin: 5px 0px 15px 0px;
    font-size: 20px; /* Размер шрифта */
    width: 150px; /* Ширина капчи */
    height: 50px; /* Высота капчи */
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%; /* Ширина */
    padding: 6px; /* Внутренние отступы */
    border: 1px solid #e6e9ea; /* Цвет рамки */
    border-radius: 5px; /* Закругленные углы */
    background-color: #e5e8e9; /* Цвет фона полей ввода */
    color: #141517; /* Цвет текста */
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #5a5e61
}

/* Стили всплывающих уведомлений */
.notification {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgba(90, 94, 97, 0.3);
    color: #141517;
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.6s ease; /* Плавный переход для непрозрачности */
    z-index: 1000; /* Уведомление поверх других элементов */
}

/* Адаптивные стили */
@media screen and (max-width: 1300px) {
    .content {
        padding: 10px; /* Отступы для контента */
    }
    .content-shell {
        max-width: 800px; /* Максимальная ширина для контента */
    }
    .form-shell {
        max-width: 600px; /* Максимальная ширина для формы */
    }
    .post {
        margin: var(--margin-small) 0;
    }
    .post-second {
        margin: var(--margin-small) 0;
    }
    .post-third {
        margin: var(--margin-small) 0;
    }
}

@media screen and (max-width: 1000px) {
    .image-text-wrapper {
        display: flex; /* Включаем Flexbox */
        align-items: flex-start; /* Выравнивание по верхнему краю */
        margin: var(--margin-large) 0; /* Отступы вокруг контейнера */
        flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    }
    .image-container {
        max-width: var(--max-width-image); /* Ограничение ширины изображения */
        height: auto; /* Сохранение пропорций изображения */
        margin-right: 0; /* Убираем отступ справа */
        margin-bottom: var(--margin-small); /* Отступ между изображением и текстом */
    }
    .content-shell {
        max-width: 350px; /* Максимальная ширина для контента */
    }
    .form-shell {
        max-width: 450px; /* Максимальная ширина для формы */
    }
}

@media screen and (max-width: 700px) {
    .center-menu {
        gap: 9px; /* Промежуток между ссылками */
    }
    .head {
        padding: 23px 0;
        font-size: 12px;
    }
    .content {
        min-height: calc(100vh - 58px);
    }
    select {
        font-size: 12px;
    }
    .footer {
        padding: 26px 0;
        font-size: 8px;
    }
    .notification {
        right: 15px;
        bottom: 15px;
    }
}

@media screen and (max-width: 400px) {
    .image-container {
        max-width: 100%; /* Ограничение ширины изображения до 100% от родительского контейнера */
        margin-bottom: 20px; /* Отступ между изображением и текстом */
    }
    .center-menu {
        gap: 8px; /* Промежуток между ссылками */
    }
    .head {
        padding: 26px 0;
        font-size: 11px;
    }
    .content {
        min-height: calc(100vh - 63px);
    }
    select {
        font-size: 10px;
    }
    .footer {
        padding: 29px 0;
        font-size: 6px;
    }
    .post {
        font-size: var(--font-size-medium);
        margin: var(--margin-small) 0;
    }
    .post-second {
        font-size: var(--font-size-small);
        margin: var(--margin-small) 0;
    }
    .post-third {
        font-size: var(--font-size-mini);
        margin: var(--margin-small) 0;
    }
    .text-container {
        font-size: 16px; /* Уменьшение размера шрифта */
    }
    .link-dark {
        padding-right: 10px;
    }
}
