{% extends 'base.html' %}

{% block content %}
<div class="content-shell">

    <section>
        <h1 class="post">{{ title }}</h1>
        <h2 class="post-second">Спутник-1</h2>

        <div class="image-text-wrapper">

            <img class="image-container" src="{{ url_for('static', filename='images/main_image.jpg') }}" alt="Спутник-1">

            <div class="text-button-wrapper">

                <article class="text-container">
                    {% autoescape off %}
                    {{ content }}
                    {% endautoescape %}
                </article>

                <section class="button-wrapper">
                    <a href="*" download="Спутник-1">
                        <button type="button" class="button">Загрузить</button>
                    </a>
                </section>

            </div>

        </div>
    </section>

</div>
{% endblock %}
